{% extends "layout-basic.html.twig" %}

{% block headTitle %}Page Forgotten Password - Projet Silex{% endblock %}

{% block textDashboard %}blabla blabla blabla{% endblock %}

{% block formDashboard %}
    <form id="login-form" method="post">
        <div class="form-group">
            <input id="login-username" type="email" name="forgottenUsername" required="" class="input-material">
            <label for="login-username" class="label-material">User Name</label>
        </div>
        <button id="login" type="submit" class="btn btn-primary">Send</button>
        <!-- This should be submit button but I replaced it with <a> for demo purposes-->
    </form>
    <a href="#" class="forgot-pass">Forgot Password?</a><br>
    <small>Do not have an account?</small>
    <a href="register.html" class="signup">Signup</a>
{% endblock %}