{% extends "layout-basic.html.twig" %}

{% block headTitle %}Page Register - Projet Silex{% endblock %}

{% block textDashboard %}blabla blabla blabla{% endblock %}

{% block formDashboard %}
    <form id="register-form" method="post">
        <!-- input qui permet de savoir d'où vient le post sur la page index.php -->
        <input type="hidden" name="page" value="register">
        <div class="form-group">
            <input id="register-username" type="text" name="username" required="required" class="input-material">
            <label for="register-username" class="label-material">User Name</label>
        </div>
        <div class="form-group">
            <input id="register-email" type="email" name="email" required="required" class="input-material">
            <label for="register-email" class="label-material">Email Address
            </label>
        </div>
        <div class="form-group">
            <input id="register-passowrd" type="password" name="password" required="required" class="input-material">
            <label for="register-passowrd" class="label-material">password
            </label>
        </div>
        <div class="form-group terms-conditions">
            <input id="license" type="checkbox" class="checkbox-template">
            <label for="license">Agree the terms and policy</label>
        </div>
        <input id="register" type="submit" value="Register" class="btn btn-primary">
    </form>
    <small>Already have an account?
    </small>
    <a href="<?= HOSTURL ?>?page=login" class="signup">Login</a>
{% endblock %}